/*Landing page*/
	#title {font-size:	2.25em;}

	/*Open Times Table*/
		th.mbpd, td.mbpd {
			padding: 9px;
			padding-left: 25px;
			margin: 0;   
		}
		.mtbw {max-width: 300px; margin: 0 auto;}

	/*Dropdown*/
		/*.mbpd {padding: 0 10px;}
		.wdbt>p {margin-bottom: 5px;}
		@media only screen and (min-width: 1000px) {
			.spbl {padding-bottom: 6em;}
		}

		.wdbt {width: 180px;}
		.dropdown-menu.wdbt {background-color: rgba(120,120,120,.75);}*/

	/*Copy number*/
		#telephone {font-size: 2rem; text-shadow: .5px .5px 3px rgba(0,0,0,.9);}

/*Portfolio page (Don't change id)*/

/*Map page*/
	#map {padding: 4em 0;}
	.map {height: 30rem;}
	@media (max-width: 992px) {
	  .map { height: 75%;}
	}

	.map>iframe {filter: brightness(.6);}
	.map>iframe:hover {filter: brightness(.8);}

/*take aways*/
	.overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
  }

  section.cta {
    position: relative;
    padding: 250px 0;
    background-image: url("../img/las.jpg");
    background-position: center;
    background-size: cover;
  }

  section.cta .cta-content {position: relative; z-index: 1;}

  section.cta .cta-content h2 {
    font-size: 50px;
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 25px;
    color: white;
  }
	/*section#take-aways {
		margin: 0; padding: 0;
		background-color: 
	}*/

	/*.piccont {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 75vh;
	}

	.piccont::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center;
    background-image: url("../img/las.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(25%) opacity(75%);
  }*/

/*Reviews carousel*/
	#review {padding: 4em 0; height: 800px;}
	#client-testimonial-carousel {height: 350px;}
	div.carousel-item {padding: 0;}
	ol.carousel-indicators {margin: 0; transform: translateY(100%);}
	footer.blockquote-footer {margin: 10px;}

/*Awards page*/
	#awards {padding-top: 4em;}
	p.text-muted.mnurw {font-size: 12px;}
	.post {
		display: inline-flex;
		margin: 1em auto;
		max-width: 350px;
	}
	
/*Spacer*/
	/*#spacer {padding: 4em 0;}*/

/*Menu */
	h5 + p {max-width: 250px;}
	.mnurw {justify-content: center; margin: 2em auto;}
	.mnurw>.card {justify-content: space-between;	border: none;}
	.rowp {margin: 1em;}
	.colp {padding: 0 1em;}
	.mnupc {
		width: 240px;
		height: 160px;
		padding: 0;
	}

	/*module*/
	.m-img {display: inline-flex; width: 100%;}